Repository bmesuere/vlinder, pull requests merged in 2020-06, with the labels that each got.

#21 Rewrite API in Sinatra
  api/.ruby-version
  api/Gemfile
  api/Gemfile.lock
  api/README.md
  api/__init__.py
  api/app.py
  api/app.rb
  api/config.ru
  api/database.py
  api/login.example.json
  api/requirements.txt
  api/static.py
  api/vlinder.wsgi
Labels: API

#33 Look at more points for status, and fix null responses
  api/app.rb
Labels: bug

#54 Add proper tooltips to the map
  .github/workflows/build.yml
  dashboard/src/app/d3/D3StationsMap.ts
  dashboard/src/components/StationCard.vue
  dashboard/src/components/StationsMap.vue
  dashboard/src/components/TooltipCard.vue
Labels: Vue
